/* ============== MAIN ============== */

main{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
    background-color: #ffffff;

    font-size: 1.25vw;

    display: flex;
    flex-flow: wrap;

    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#aboutUsText{
    text-align: center;
}

#asideMain{
    margin-top: 2vw;
    width: 40vw;

    /* outline: 0; */
    background-color: #f4f4f4;
}

#textAsideMain{
    margin: 1vw 0.5vw 1vw 0.5vw;
    text-align: center;
}

#textAsideMain a {
    text-decoration: none;
    color: #10bae2;
}

#textAsideMain a:hover {
    color: #4a4a4a;
}

/* ======================== SECOND ARTICLE ======================== */

#secondArticleMain{
    margin-top: 2vw;
    width: 40vw;
    height: 9vw;

    text-align: center;
    background-color: #f4f4f4;

    padding: 0.5vw 0.5vw 0vw 0.5vw;
}

#secondArticleMain a{
    text-decoration: none;
    color: #10bae2;
}

#secondArticleMain a:hover{
    color: #4a4a4a;
}

#checkboxMain{
    display: none;
    
}

.icon{
    font-size: 1vw;
    cursor: pointer;
}

.plusIcon{
    background-color: #61bae2;

    display:block;
    position: absolute;

    width: 2.5vw;
	height: 2.5vw;
	-moz-border-radius: 1vw;
	-webkit-border-radius: 1vw;
	border-radius: 1vw;

    margin-left: 18.75vw;
}

.plusIcon::before, .plusIcon::after{
    background-color: #cae7f4;
    content: '';
    position: absolute;

    width: 80%;
    height: 12%;

    transition: all .5s;
}

.plusIcon::after{
    width: 12%;
    height: 80%;

    margin-left: -0.15vw;
    margin-top: 0.25vw;
}

.plusIcon::before{
    margin-left: -1.05vw;
    margin-top: 1.15vw;
}

#checkboxMain:checked ~.icon .plusIcon::after{
    transform: rotate(45deg);
    transition: all .5s;
}

#checkboxMain:checked ~.icon .plusIcon::before{
    transform: rotate(45deg);
    transition: all .5s;
}

.mainProfMenu{
    display: none;

    width: 0vw;
    margin-left: 20vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    -moz-border-radius: 1vw;
	-webkit-border-radius: 1vw;
	border-radius: 0vw 1vw 1vw 1vw;
    
    font-size: 1.25vw;

    background-color: #61bae2;

    overflow: hidden;
}

#checkboxMain:checked ~ .mainProfMenu{
    display: block;
    animation-name: menuAnime;
    animation-duration: .5s;
    width: 10vw;
}

@keyframes menuAnime {
    from{
        width: 0vw;
        font-size: 0vw;
    }

    to{
        width: 10vw;
        font-size: 1.25vw;
    }
}



@media (max-width: 75vh) {

    main{
        display: flex;
        flex-flow: column;

        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        
    }

    #aboutUsText{
        font-size: 3vw;
        text-align: center;
    }

    #asideMain{
        margin-top: 3vw;
        width: 90%;

        font-size: 2.5vw;
    }

    /* ======================== SECOND ARTICLE ======================== */

    #secondArticleMain{
        margin-top: 3vw;
        width: 90%;
        height: 27.5vw;
    }

    #secondArticleMain p{
        font-size: 3.5vw;
    }

    .plusIcon{
        width: 5vw;
        height: 5vw;
        -moz-border-radius: 2vw;
        -webkit-border-radius: 2vw;
        border-radius: 2vw;
    
        margin-left: 35vw;
    }

    .plusIcon::after{
        margin-left: -0.3vw;
        margin-top: 0.5vw;
    }

    .plusIcon::before{
        margin-left: -2.1vw;
        margin-top: 2.3vw;
    }


    .mainProfMenu{
        margin-left: 39vw;
    }

    #checkboxMain:checked ~ .mainProfMenu{
        position: absolute;
        display: block;
        animation-name: menuAnime;
        animation-duration: .5s;
        width: 30vw;
    }

    @keyframes menuAnime {
        from{
            width: 0vw;
            font-size: 0.1vw;
        }

        to{
            width: 30vw;
            font-size: 2.5vw;
        }
    }
}

